@charset "UTF-8";

/* Paleta de cores
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#a15c37
#063d1e
*/

p#GoogleFonts1 {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  text-indent: 0px;
  }

  p#GoogleFonts2 {
    font-family: "Mystery Quest", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    text-indent: 0px;
  }

  p#GoogleFonts3 {
    font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  text-indent: 0px;
  }

  p#FonteExterna1 {
    font-family: "Lacquer", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 200%;
  text-indent: 0px;
  }

  p#FonteExterna2 {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    font-size:200%;
    text-indent: 0px;
  }

  p#FonteExterna3 {
    font-family: "Music Logos", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 400%;
    letter-spacing: 10px;
    line-height: 50px;
    text-indent: 0px;
  }


  a.LinkFonte{
    text-decoration: none;
        color: var(--cor5);
        font-size:medium;
        font-weight: 700;
        padding-right: 15px;
        margin-right: 15px;

  }

  a.LinkFonte:hover    {    
    text-decoration: underline;
    color: white;
    background-color: var(--cor2);
    
}

  
:root {

    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
}

*{
    margin: 0px;
    padding: 0px;
}



header{
    background-color: var(--cor4);
    min-height: 90px;
    text-align: center;
}

body{
    margin: 0;
    padding: 0;
    background: url('Imagens/Background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    
    background-color: #c5ebd6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;   
}



h1{
   color: white;
   text-align:center;
   padding: 10px;
   
}

h2{
    color: var(--cor4);
}

h3{
    color:var(--cor3);

}


main{
    background-color:white;
    min-width: 320px;
    max-width: 1500px;
    color:var(--cor5);
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;    
    line-height: 2em;
    font-size: 1em;
    }
 
main p{
        margin: 15px 0px ;
        text-align: justify;
        text-indent: 20px;
 }

 nav{
    background-color:var(--cor5)    
}


 main a{    
    text-decoration: none;
    color: white;
    font-size:medium;
    font-weight: 700;
    padding-right: 15px;
    margin-right: 15px;
    transition: .35;
    cursor: pointer ;        
}

main a:hover :not(:hover){    
    text-decoration: underline;    
    background-color: var(--cor1);
    opacity: 4;
    transform: scale(0.9);
}



main img {
    width: 56%;
    height: auto;
    display: block;
}

footer{
    background-color:var(--cor5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

*{
    margin: 0px;
    padding: 0px;
}

ol{
margin-left: 25px;
}

ul{
    margin-left: 25px;
}

